body, html {
    overflow: hidden;
}
h3{
    font-size: 15px;
}
*{
    padding: 0;
    margin: 0;
}

.navbardiv > * {
    margin: 8%;
}
.logo {
    width: 60%;
}
a{
    text-decoration: none;
    color: #d3d5d4;
}
p{
    color: #d3d5d4;
}
i {
    padding-right: 15px;
}
li {
    list-style: none;
    line-height: 40px;
    border-left: 2px solid #f6f7f6;
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 5px;
}
li:hover {
    border-left: 2px solid #d3d5d4;
}
li:hover a {
    color: black;
}
li:hover i {
    color: brown;
}
.navbardiv {
    width: 20%;
}
.colpurple{
    color: purple;
}
.colgreen{
    color: seagreen;
}
.colbrown{
    color: brown;
}
.basicdiv {
    background-color: #f8f9f8;
    border-radius: 15px;
}
.div2 {
    width: 50%;
}
.flex {
    display: flex;
}
.marginr5 {
    margin-right: 5%;
}
.padd20 {
    padding: 20px;
}
.paddbott {
    padding-bottom: 10px;
}


/* section */
.section{
    width: 55%;
}
.section > *{
    margin: 2%;
}

.dot {
    color: #d3d5d4;
   cursor: pointer;
}
.space {
    justify-content: space-between;
}
.story {
    width: 7%;
    border: 3px solid #fd8e68;
    border-radius: 10px;
}
.background {
    width: 47%;
    height: 300px;
    margin-top: 2%;
    background-size: 100%;
    border-radius: 30px;
    position: relative;
}

.bg1 {
    background-image: url(https://i.pinimg.com/originals/22/16/80/22168031801868fe85f2317bf2b2887d.jpg);
}

.bg2 {
    background-image: url(http://papers.co/wallpaper/papers.co-bd13-vacation-red-yellow-anime-painting-art-illustration-4-wallpaper.jpg);
}


.minute {
    margin-left: 20px;
    padding: 5px;
    color: #fff;
    background-color: #f7542e;
    border: 2px solid #f7542e;
    border-radius: 10px;
}

.bgcolblue {
    background-color: #05497c;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.bgcolpink {
    background-color: #661b31;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}